@model WebApplication6.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Curso</h2>

<h3>Seguro desea eliminar este curso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InicioDeCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InicioDeCurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinDeCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinDeCurso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
