@model IEnumerable<WebApplication6.Models.Estudiante>

@{
    ViewData["Title"] = "Inicio";
}

<h2>Informacion de los estudiantes.</h2>

<p>
    <a class="btn btn-info" role="button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-info" role="button" asp-action="Edit" asp-route-id="@item.ID">Editar</a> 
                    <a class="btn btn-info" role="button" asp-action="Details" asp-route-id="@item.ID">Detalles</a> 
                    <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
